<div class="myCss-firstStyle">
    
    <div> <span><h3>Style:</h3></span> <input type="text" [(ngModel)]="style"></div>
    <div> <span><h3>Name :</h3></span> <input type="text" [(ngModel)]="name"></div>
    <br><div> <button (click)="addAge(1)" (dblClick)="addAge(5)">Add</button> <button (click)="diffAge(1)" (dblclick)="diffAge(5)">Diff</button> </div>

    <div *ngIf="getStyle() == 1" class="myCss-textRed">
        <p>home works!</p>
        <h1> {{getName() | uppercase}} </h1>
        <h2> {{getAge() | number: "1.1-1" | currency}} </h2>
        <h3 appBold> {{getListFrameWork() | json}} </h3>
        <select>
            <option *ngFor="let item of getListFrameWork()" >{{item}}</option>
        </select>    
    </div>

    <div *ngIf="getStyle() != 1" class="myCss-textBlue">
        <p>home works!</p>
        <h1> {{getName() | lowercase}} </h1>
        <h2> {{getAge() | number: "1.1-1" | currency}}</h2>
        <h3 appBold> {{getListFrameWork() | json}} </h3>
        <select>
            <option *ngFor="let item of getListFrameWork()" >{{item}}</option>
        </select>    
    </div>
</div>
